/* palette colors
  --headline #BDC6A9;
  --paragraph #000000; 
  --headline-background: #995d76;
  --text-background-color: #FFF0EB;
  --nav-link-color: #F97639;
*/

header , footer {
    text-align: center;
    padding: 0.5rem;
    background-color: #995d76;
    color: #BDC6A9;
}

body {
    font-size: 18px;
    background-color:#FFF0EB;
    color: black;
}

h1{
    font-size: 30px;
    font-weight: bold;

}

h2 {
    margin-left: 0.5em;
    font-size: 15px;
}

hr {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}

a {
    color: #f97636;

}

h1, h2, header, footer{
    font-family: 'Courgette', cursive;
}

#lastmodified {
    color: #f97636;
}

header img {
    box-shadow: 0 6px 10px 0 #C490D1, 0 8px 300px 0 #C490D1;
    margin-top: 0.5em;
    margin-right: 1em;
    width:240px;
    height:280px;
  }