/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header img {
    width: 15%;
    margin-left: 3%;
    margin-top: 8%;
}
header h1 {
    text-align: center;
    font-size: 6rem;
    margin-top: 4%;
    
   
}
header h2 {
    text-align: center;
    font-size: 3rem;
    margin-top: -10px;
    margin-left: 10%;
   
}

/*----------- NAVIGATION --------------*/
 nav button {
     display: none;
 }
 
 nav ul.hide {
     display: block;
 }

 nav ul {
     margin-left: 2%;
 }

 nav ul li {
     float: left;
 }

 nav ul li a {
     border: none;
     font-size: 30px;
     border-right: 1px solid #C1DBB3;
     padding: 0.6rem 1rem;
 }


/*----------- MAIN --------------*/
main h1 {
    font-size: 50px;

}

main h2{
    font-size: 30px;
  }

.move{
    display: flex;
}

div.weather{
    
    width: 25%;
    background-color: #2F4858;
    border: 4px solid  #ED6A5A;
    color:  #ED6A5A;
    text-align: center; 
    font-size: 30px;

}
.weather h3 {
    margin-top: -2%;
    font-family: 'Dosis', sans-serif;
    font-size: 40px;

}
.forecast {
    display: flex;
    align-items: center;
    margin-left:5%;
    
    
}
.atrone img {
 
    width: 100%;
}

.atrone p {
   
    font-size: 30px;
   
  }
  
  .atrone h2{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: #2F4858;
  
  }
  .biglogo img {
    display: block;
    width: 100%;
    border: 4px solid #2F4858;
  
  }

.atrtwo img {
 
    width: 100%;
}

.atrtwo p {
   
    font-size: 30px;
   
  }
  
.atrtwo h2{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: #2F4858;
  
  }

.atrthree img {
 
    width: 100%;
}

.atrthree p {
   
    font-size: 30px;
   
  }
  
.atrthree h2{
    font-size: 60px;
    font-family: 'Playfair Display', serif;
    color: #2F4858;
  
  }

  

.forecast div {
    margin: 8px;
    border: #2F4858 3px inset;
    box-shadow: #ED6A5A 5px 5px 10px;
    width: 20%;

}

.forecast img, h4, p {
    padding: 5px;
}
.forecast{
    width: auto;
    background-color: #2F4858;
    border: 4px solid  #ED6A5A;
    color:  #ED6A5A;
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
  
  }

  .forecast p {

    color:  #ED6A5A;
  }


section.rentaloptions h2{
    font-size: 40px;
  
  }
  div#scooters {
    margin:auto;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
  }
.scooter{
      width: 20%;
  }

.jeep{
    width: 20%;
}

  div#utv{
    margin:auto;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
  }

  div#jeeps {
    margin:auto;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
  }
  div.infoAddress h2{
      font-size: 40px;
      margin-left: 1%;
      float: left;
  }

  div.infoAddress{
      width: auto;
      display: flex;
      align-items: center;
      background-color: #ED6A5A;
      color: #2F4858;
      text-align: center;
 }
 div.infoAddress h4{
     font-size: 30px;
 }

span.infoAddress {
    margin-left: 3%;
    font-size: 20px;

 }

 label {

    font-family: 'Dosis', sans-serif;
    color:#2F4858;

    font-size: 40px;

}


legend {

    font-family: 'Dosis', sans-serif;
    color:#2F4858;

    font-size: 40px;

}

.submitBtn{
    font-size: 25px;
    color: #ED6A5A;
    background-color: #2F4858;
  }
 form label input:required {
    border: red solid 4px;
    


}


form label input:required:valid {
  border-left: green solid 4px;
  
}

div.contactpage {
    text-align: center;
}

div.contactpage h2{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #2F4858;
    margin-bottom: 3%;

}

div.contactpage h4{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #2F4858;

}

.contactpage span {
    font-size: 30px;
    color: #2F4858;
    margin-bottom: 3%;
}
iframe {
    margin-top: 3%;
}

.thanksmessage {
    background-color: #ED6A5A;
      color: #2F4858;
      text-align: center;
      font-family: 'Playfair Display', serif;
      font-size: 60px;



}

.tourone img{
    width: 60%;
}
  
  .tourone h2{
    
    font-size: 50px;
   
  }

  .tourtwo img{
    width: 60%;
}
  
  .tourone p{
    font-size: 30px;
    
  }
  
  
  .tourtwo h2{
    
    font-size: 50px;
  
  
  }
  
  .tourtwo p{
    font-size: 30px;
  }
  








.serviceinfo{
    text-align: center;
    background-color:#60E1E0;
    font-family: 'Playfair Display', serif;;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    color: #2F4858;
}

.serviceinfo P{
    font-family: 'Dosis', sans-serif;
    font-size: 30px;


}

.reserveform legend {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    
}

.reserveform fieldset {
    border: inset #ED6A5A;
    margin: 20px;
}
.rentform {
  
    font-family: 'Dosis', sans-serif;
    color:#2F4858;

    font-size: 40px;
}






/*----------- FOOTER --------------*/


}