/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header img {
    width: 20%;
}
header h1 {
    font-size: 6rem;
    margin-top: 30px;
   
}
header h2 {
    font-size: 3rem;
    margin-top: -10px;
}

/*----------- NAVIGATION --------------*/
 nav button {
     display: none;
 }
 
 nav ul.hide {
     display: block;
 }

 nav ul {
     margin-left: 2%;
 }

 nav ul li {
     float: left;
 }

 nav ul li a {
     border: none;
     font-size: 30px;
     border-right: 1px solid #C1DBB3;
     padding: 0.6rem 1rem;
 }


/*----------- MAIN --------------*/
main h1 {
    font-size: 50px;

}

main h2{
    font-size: 30px;
  }

.forecast p{
    font-size: 40px;
    font-weight: bold;
    color: #2F4858;
  
  }


/*----------- FOOTER --------------*/
}