/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 75rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header img {
    width: 20%;
}
header h1 {
    font-size: 6rem;
    margin-top: 30px;
   
}
header h2 {
    font-size: 3rem;
    margin-top: -10px;
}

/*----------- NAVIGATION --------------*/
 nav button {
     display: none;
 }
 
 nav ul.hide {
     display: block;
 }

 nav ul {
     margin-left: 2%;
 }

 nav ul li {
     float: left;
 }

 nav ul li a {
     border: none;
     font-size: 30px;
     border-right: 1px solid #C1DBB3;
     padding: 0.6rem 1rem;
 }


/*----------- MAIN --------------*/
main h1 {
    font-size: 50px;

}

main h2{
    font-size: 30px;
  }

.forecast p{
    font-size: 40px;
    font-weight: bold;
    color: #2F4858;
  
  }

section.rentaloptions h2{
    font-size: 40px;
  
  }
  div#scooters {
    margin:auto;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
  }
.scooter{
      width: 20%;
  }

.jeep{
    width: 20%;
}

  div#utv{
    margin:auto;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
  }

  div#jeeps {
    margin:auto;
    font-family: 'Dosis', sans-serif;
    font-size: 30px;
    
  }
  div.infoAddress h2{
      margin-left: 2%;
      float: left;
  }

  div.infoAddress{
      display: flex;
      align-items: center;
      background-color: #ED6A5A;
      color: #2F4858;
      text-align: center;
 }
 div.infoAddress h4{
     font-size: 20px;
 }

span.infoAddress {
    margin-left: 5%;

 }

 label {

    font-family: 'Dosis', sans-serif;
    color:#2F4858;

    font-size: 40px;

}

.submitBtn{
    font-size: 25px;
    color: #ED6A5A;
    background-color: #2F4858;
  }
 form label input:required {
    border: red solid 4px;
    


}


form label input:required:valid {
  border-left: green solid 4px;
  
}

div.contactpage {
    text-align: center;
}

div.contactpage h2{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    color: #2F4858;
    margin-bottom: 3%;

}

div.contactpage h4{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #2F4858;

}

.contactpage span {
    font-size: 30px;
    color: #2F4858;
    margin-bottom: 3%;
}
iframe {
    margin-top: 3%;
}

.thanksmessage {
    background-color: #ED6A5A;
      color: #2F4858;
      text-align: center;
      font-family: 'Playfair Display', serif;
      font-size: 80px;



}


/*----------- FOOTER --------------*/


}