/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* 
  <"primary">#9893C8</td>
  <secondary">#DDC67B</td>
  <accent1">#2F4858</td>
  <"accent2">#60E1E0</td>
  <"accent3">#7ED6A5A</td>

/*----------- BODY --------------*/
body {
  background-color: #DDC67B;
  font-size: 16px;
  font-family: 'Dosis', sans-serif;
}


/*----------- HEADER --------------*/


header {
  padding: .5rem;
  background-color: #ED6A5A;

}

header img {
  float: left;
  width: 60px;
}

header h1 {
  font-family: 'Playfair Display', serif;
  color: #60E1E0;
  margin-top: 5px;
  font-size: 1.3rem;
}

header h2 {
  font-family: 'Dosis', sans-serif;
  color: #60E1E0;
  font-size: 1rem;
  margin-left: 0.5%;
  text-align: center;

}

/*----------- NAVIGATION --------------*/
nav button {
  font-family: 'Dosis', sans-serif;
  margin: 4px;
  background-color: transparent;
  font-size: 12px;
  color: #DDC67B;
}

nav ul.hide {
  display: none;
}

nav {
  font-family: 'Dosis', sans-serif;
  border: 1px solid #DDC67B;
  font-size: 12px;
  background-color: #2F4858;
}

nav ul {

  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {

  display: block;
  color: #DDC67B;
  padding: .6rem 0;
  text-decoration: none;
  font-size: 12px;
  text-align: center;
}


nav ul li a:hover {
  background-color: #60E1E0;
  color: #ED6A5A;
}

nav ul li.active a {
  background-color: #DDC67B;
  color: #2F4858;
}

/*----------- MAIN --------------*/
main {
  padding: .5rem 0;
}

main h1 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: #2F4858;

}

main h2 {
  font-family: 'Playfair Display', serif;
  color: #2F4858;
}

div.showme {
display: block;
}

div.hideme {
  display: none;
}

/*----------- Index --------------*/

.forecast{
  margin-top: 4%;
  display: none;
}
.forecast p{
  font-size: 20px;
  font-weight: bold;
  color: #2F4858;

}

div#scooters {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#2F4858;
  
}


div#utv{
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#2F4858;
}

div#jeeps {
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color:#2F4858;
}
.forecast {
  margin-top: 4%;
  display: none;
}

.rentable table {
  border: darkgray solid 2px;
  margin: 10px auto 10px auto;
  font-family: 'Roboto', sans-serif;
  background-color: #9893C8;
}

.rentable table th,
td {
  border: solid 2px #9893C8;
  font-size: 20px;
}

.rentable table,
th,
td {
  border-collapse: collapse;
  padding: 10px;
}

.rentable table thead th {
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

.rentable table td:nth-child(2) {
  text-align: center;
}

.rentable table td:nth-child(3) {
  text-align: center;
}

div.showme {
  display: block;
}

div.hideme {
  display: none;
}

.biglogo img {
  width: 100%;
  border: 4px solid #2F4858;

}

section.rentaloptions h2{
  font-size: 14px;

}
.formcontact{
  margin-top: 10%;
  margin-bottom: 15%;
}

.formcontact legend{
  font-family: 'Dosis', sans-serif;
    color:#2F4858;

    font-size: 40px;
}
.submitBtn{
  font-size: 15px;
  color: #ED6A5A;
  background-color: #2F4858;
}


form label input:required {
  border: red solid 4px;
  
}


form label input:required:valid {
border-left: green solid 4px;

}

div.contactpage {
  text-align: center;
}

div.contactpage h2{
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  color: #2F4858;
  margin-bottom: 3%;

}

div.contactpage h4{
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  color: #2F4858;

}

.contactpage span {
  font-size: 15px;
  color: #2F4858;
  margin-bottom: 3%;
}
iframe {
  margin-top: 3%;
}

.thanksmessage {
  background-color: #ED6A5A;
    color: #2F4858;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 60px;



}










div.infoAddress h2{
  margin-left: 2%;
  float: left;
}

div.infoAddress{
  display: flex;
  align-items: center;
  background-color: #ED6A5A;
  color: #2F4858;
  text-align: center;
  padding-bottom: 1%;
  margin-bottom: -1%;
  margin-top: 3%;
}
div.infoAddress h4{
 font-size: 14px;
}

span.infoAddress {
margin-left: 5%;

}



/*----------- FOOTER --------------*/
footer {
  font-family: 'Poppins', sans-serif;
  background-color: #ED6A5A;
  color: #60E1E0;
  padding: .5rem 0;
  text-align: center;
}

footer a {
  color: #60E1E0;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}