/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header img {
    width: 15%;
}
header h1 {
    font-size: 2rem;
    margin-top: 40px;
}
header h2 {
    font-size: 1.5rem;
}

/*----------- NAVIGATION --------------*/
 nav button {
     display: none;
 }
 
 nav ul.hide {
     display: block;
 }

 nav ul {
     margin-left: 2%;
 }

 nav ul li {
     float: left;
 }

 nav ul li a {
     border: none;
     font-size: 18px;
     border-right: 1px solid #C1DBB3;
     padding: 0.6rem 1rem;
 }


/*----------- MAIN --------------*/

.sumList {
    position: absolute;
    top: 100px;
    left: 20px;
    border: 4px solid #C1DBB3;
    padding: 10px;
    background: repeating-radial-gradient(#7EBC89 ,#C1DBB3);
    color: #29339B;
    font-size: 20px;
  }
  
  .sumList h3 {
    margin: 15px;
  }

.contact img {
    width: 400px;
    height: 200px;
    margin-top: 10px;
    
  }


  .towns {
    display: flex;
    flex-direction: row;
}

.towns section {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
   
}

.towns section .town1 {
   grid-row: 1;
   grid-column: 1 / 3;
}

.towns section .town2 {
  grid-row: 1;
  grid-column: 1 / 3;
}

.towns section .town3 {
  grid-row: 1;
  grid-column: 1 / 3;
}


/*----------- FOOTER --------------*/
}