/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }

/*----------- BODY --------------*/



/*----------- HEADER --------------*/

header img {
    width: 15%;
}
header h1 {
    font-size: 2rem;
    margin-top: 40px;
}
header h2 {
    font-size: 1.5rem;
}

/*----------- NAVIGATION --------------*/
 nav button {
     display: none;
 }
 
 nav ul.hide {
     display: block;
 }

 nav ul {
     margin-left: 2%;
 }

 nav ul li {
     float: left;
 }

 nav ul li a {
     border: none;
     font-size: 18px;
     border-right: 1px solid #C1DBB3;
     padding: 0.6rem 1rem;
 }


/*----------- MAIN --------------*/

div.biglogo {
    border: 4px solid #545E75;
    position: relative;
  }
  
  div.biglogo h2, p {
    margin: 0;
  }
  
  .biglogo img {
    display: block;
    width: 100%;
    
  }
  
  .sumList {
    display: block;
    position: absolute;
    top: 100px;
    left: 20px;
    padding: 10px;
    border: 4px solid #545e75;
    background: repeating-radial-gradient(#545e75 ,#FAEDCA,#C1DBB3);
    color: #29339B;
    font-size: 20px;
  }
  
  .sumList h3 {
    margin: 5px;
  }
  
  .hero {
      width: 100%;
      display: block;
  }

.contact img {
    width: 400px;
    height: 200px;
    margin-top: 0.5px;
    margin-bottom: 50px;
    
  }
.towns {
    display: flex;
    flex-direction: row;
}

.towns section {
  padding: 10px;
  border: 4px #29339B solid ;
  background-color:#C1DBB3;
  text-align: center;
  margin: auto;
  max-width: 280px;
  max-height: 400px;
  margin-bottom: 50px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
   
}
.towns section img {
  padding: .3rem; 
  margin: auto; 
  width: 240px; 
  max-height: 150px; 
  margin-bottom: 1px;

}
.town2{
  grid-row: 1;
  margin-bottom: 10px;
  margin-left: -10px;
}

.town1{
  grid-row: 1;
  grid-column: 1 / 3;
}
.fishhaven{
  grid-row: 2;
}

.towns section .town2 {
 grid-row: 1;
 grid-column: 1 / 3;
}

.towns section .town3 {
 grid-row: 1;
 grid-column: 1 / 3;
}
/*
.towns section {
    margin-left: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}
.fishhaven {
  grid-column: 1;
  grid-row: 1;
}

.soda {
  grid-column: 3;
  grid-row: 1;

}

.preston {
  grid-column: 2;
  grid-row: 1;
}
.town1 {
   grid-row: 1;
   grid-column: 1;
}
.town2 {
  grid-row: 1;
  grid-column: 2;
}
.town3 {
  grid-row: 1;
  grid-column: 3;
}
*/

/*----------- FOOTER --------------*/
}