
body {background-color: seashell;}

picture img {width: 300px; height: 400px; display: block; margin: auto; margin-bottom: 30px; border: 1.2px solid black;}
picture img:hover {box-shadow: 0 0 50px black; border-radius: 20px;}
picture {width: 300px; height: 450px;}


#pictures figure img {width: 300px; height: 400px; display: block; margin: auto; margin-bottom: 30px; border: 1.2px solid black;}
#pictures figure img:hover {box-shadow: 0 0 50px black; border-radius: 20px;}
#picture figure {width: 300px; height: 450px;}
figcaption {text-align: center; margin-top: -20px;}
h1 {text-align: center;}



main div#pictures {display: grid; grid-template-columns: 1fr;}

@media only screen and (min-width: 560px) {
    main div#pictures {grid-template-columns: 1fr 1fr;}

}

@media only screen and (min-width: 1028px) {
    main div#pictures {grid-template-columns: 1fr 1fr 1fr;}
}
