
/*  The color scheme includes #e7f0ed, #e7ffed (data rows) and #628ca6, #7fb9c2 along with standard white and black.  */



table {
    display: block; width: max-content; margin: auto; box-shadow: 7px 7px 15px #628ca6;
}
table, caption, th, td {
    font-family: 'Ubuntu', sans-serif; border: 1.5px solid rgb(160, 159, 159); border-collapse: collapse; text-align: center;
}
th, td, caption {
    padding: 15px; max-width: 100%;
}
caption {
    border-bottom: 0; font-weight: bolder; font-size: 2.5em; background-color: #7fb9c2;
}
thead {
    background-color: #628ca6; color: white; font-weight: bold; font-size: 1.5em;
}
tfoot {
    font-size: 0.9em; background-color: white;
}
tbody {
    background-color: #e7ffed;
}
table tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}
table tbody #mark {
    background-color: #628ca6; color: white;
}